body {
  font-family: Arial, sans-serif;
  background: #088a4b;
  font-size: 22px;
}
.container {
  width: 300px;
  margin: 100px auto;
  font-weight: bold;
  text-align: center;
}
.dealer, .player {
  width: 50px;
  height: 70px;
}
.controls {
  width: 200px;
  height: 70px;
  position: relative;
}
.dealer, .controls, .player {
  float: left;
}
#result {
  color: #f1c30f;
  line-height: 70px;
}
#result.hidden {
  visibility: hidden;
}
.btn {
  cursor: pointer;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: green;
  border: 5px solid #fff;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  left: 60px;
}
.btn:hover {
  margin-top: 2px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}
.btn.disabled {
  opacity: .4;
  margin-top: 2px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
}
#higher {
  top: -85px;
}
#lower {
  top: 70px;
}
.card {
  width: 50px;
  height: 70px;
  line-height: 70px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#dealerCard {
  cursor: pointer;
}
#wrapper {
  position: relative;
  transform-style: preserve-3d;
  transition: .3s;
}
#wrapper.open {
  transform: rotateY(180deg);
}
.card-front {
  transform: rotateY(180deg);
}
.card-back {
  background: #f1c30f;
  color: #fff;
}
.card-front, .card-back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.player {
  perspective: 100px;
}
